<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Astroidr | A Match Made in the Heavens</title>
      <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/frontend/style.css" type="text/css">
  </head>
  <body>
      <main></main>
      {% load static %}
      <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>